
</div>
<% if (locals.isNav) { %>
<div style="position: fixed;bottom:0;width:100%;background-color: #FFF;">
        <table>
            <tr>
                <td><p>@author:ayaton</p></td>
                <td><a href="https://www.acfun.cn/" target="_blank" style="color: #000;">AcFun</a></td>
            </tr>
        </table>
</div>
<% }%>
</body>
</html>