
<% if (locals.isNav) { %>
<div style="position:absolute;bottom:0px;">
        <table>
            <tr>
                <td><a href="https://l2371792777.github.io/" target="_blank" style="color: #000;">Blog</a></td>
            </tr>
        </table>
</div>
<% }%>
</body>
</html>