
</div>
<% if (locals.isNav) { %>
<div style="position: fixed;bottom:0;width:100%;background-color: #FFF;">
        <table>
            <tr>
                <td><p>@email:l2371792777@163.com</p></td>
                <td><a href="https://l2371792777.github.io/" target="_blank" style="color: #000;">Blog</a></td>
            </tr>
        </table>
</div>
<% }%>
</body>
</html>