<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=locals.title%></title>
    <link href="/css/button.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/JQuery.js"></script>
    <script src="/js/my-ajax.js"></script>
    <script src="/js/query-object.js"></script>
</head>

<body>

    <% if (locals.isNav) { %>
    <%# 有导航%>
    <nav>
        <a  href="/">首页</a>
        <ul style="flex-direction: row;">
            <li>
                <a href="/alter">

                    修改
                </a>
            </li>
            <li>
                <a href="/delete">

                    删除
                </a>
            </li>
            <li>
                <a href="/new">

                    新增
                </a>
            </li>
            <li>
                <a href="/list">
                    列表
                </a>
            </li>
            <li>
                <a href="/login">
                    登陆
                </a>
            </li>
        </ul>
    </nav>
    <% } %>