<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=locals.title%></title>
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
    <% if (locals.isNav) { %>
        <%# 有导航%>
    
        <nav>
            <div>
            <ul class="header-ul"> 
                <li>
                    <a href="https://l2371792777.github.io/" target="_blank" class="icon" style="background-image: url(img/icon2.svg);"  ></a>
                 <div clas="icontxt"><p>blog</p></div>
                </li> 
                <li>
                    <a href="/list" target="_blank" class="icon" style="background-image: url(img/icon1.svg);"  ></a>
                 <div clas="icontxt"><p>list</p></div>
                </li> 
               
            </ul>
            </div>
    </nav>
    <% } %>