<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=locals.title%></title>
    <link href="/css/list.css" rel="stylesheet">
    <script src="/js/JQuery.js"></script>
    <script src="/js/my-ajax.js"></script>
    <script src="/js/clipboard.js"></script>
    <script src="/js/query-object.js"></script>
    <script src="/js/list.js"></script>
</head>

<body>
    <% if (locals.isNav) { %>
    <%# 有导航%>
    
    <nav>
        <div>
        <ul class="header-ul">
            <li>
                <a href="/new" target="_blank">新建</a>
            </li>
            <li>
                <a href="/alter" target="_blank">修改</a>
            </li>
            <li style="float: right">
                <a class="active" href="/login">
                    退出
                </a>
            </li>
        </ul>
        </div>
    </nav>
    <% } %>