
<%- include('layout/header-list', { title: '修改', isNav: true })%>

    <h1 class="title">修改数据</h1>
    <div>
        <table class="input">
            <tr><td>id</td><td>:</td><td><input id="pid"></td><td><button id="btn-getinfo">获取数据</button></td></tr>
            <tr><td>account</td><td>:</td><td><input id="account"></td></tr>  
            <tr><td>password</td><td>:</td><td><input id="password"></td></tr>
            <tr><td>mark</td><td>:</td><td><input id="mark"></td></tr>
            <tr><td>typeId</td><td>:</td><td><input id="typeId"></td></tr> 
            <tr><td></td><td></td><td><button id="btn-create">修改</button></td></tr>
        </table>
    </div>

    <script>
        // 获取 dom 元素
        $btnCreate = $('#btn-create')
        $btnGetInfo = $('#btn-getinfo')

        // 根据pid获取数据
        $btnGetInfo.click(() => {
            $old_id = $('#pid').val()
            if ($old_id === '') {
                alert('id不能为空')
                return
            }

            //获取数据
            const url = '/api/account/list'
            const data = {
                "id": $old_id
            }
            post(url, data).then(res => {
                if (res.errno !== 0) {
                    alert(res.message)
                    return
                }
                console.log(res)
                $('#password').val(res.data[0].password)
                $('#account').val(res.data[0].account)
                $('#mark').val(res.data[0].mark)
                $('#typeId').val(res.data[0].typeId)
            })
        })

        // 提交数据
        $btnCreate.click(() => {
            $id = $('#pid').val()
            $password = $('#password').val()
            $account = $('#account').val()
            $mark = $('#mark').val()
            $typeId = $('#typeId').val()
            if ($id === '') {
                alert('id不能为空')
                return
            } else if ($account === '' && $password === '' && $mark === '' && $typeId == '') {
                alert('修改内容不能为空')
                return
            }
            if ($id != $old_id) {
                alert("id不一致")
                return
            }
            const url = '/api/account/alter'
            const data = {
                "id": $id,
                "account": $account,
                "password": $password,
                "mark": $mark,
                "typeId": $typeId
            }

            post(url, data).then(res => {
                if (res.errno !== 0) {
                    alert(res.message)
                    return
                }
                alert('修改成功')
                //location.href = '/admin.html'
            })
        })
    </script>
<%- include('layout/footer-list',{isNav:false})%>
