<%- include('layout/header-list', { title: '列表', isNav: true })%>
<h1 class="title">查询数据</h1>
<div>
    <form autocomplete="off">
        <table class="input">
            <tr>
                <td>id</td>
                <td>:</td>
                <td><input id="id" name="id" placeholder="可为空"></td>
            </tr>
            <tr>
                <td>account</td>
                <td>:</td>
                <td><input id="account" name="account" placeholder="可为空"></td>
            </tr>
            <tr>
                <td>mark</td>
                <td>:</td>
                <td><input id="mark" name="mark" placeholder="可为空"></td>
            </tr>
            <tr>
                <td>typeId</td>
                <td>:</td>
                <td><input id="typeId" name="typeId" placeholder="可为空"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            <tr>
                <td></td>
                <td></td>
                <td><button id="btn-select">查询</button></td>
            </tr>
        </table>
    </form>
</div>
<div style="overflow: auto; width:85%;margin-left: 5%;margin-top: 10px;" id="showList">
</div>
<div style="position: relative; bottom: 0;height: 10px;"></div>
<script>
    //查询数据
    $btnSelect = $('#btn-select')
    // 提交数据
    $btnSelect.click(() => {
        $id = $('#id').val()
        $account = $('#account').val()
        $mark = $('#mark').val()
        $typeId = $('#typeId').val()

        const url = '/api/account/list'
        const data = {
            "id": $id,
            "account": $account,
            "mark": $mark,
            "typeId": $typeId
        }

        post(url, data).then(res => {
            if (res.errno !== 0) {
                $("#showList").html("");
                alert(res.message)
                return
            }
            $("#showList").html(createrList(res.data));
            onDel();
            //复制表格内容
            let btns = document.querySelectorAll('.showListTD');
            let clipboard = new ClipboardJS(btns);
            clipboard.on('success', function (e) {
                console.info('Action:', e.action);
                console.info('Text:', e.text);
                console.info('Trigger:', e.trigger);
            });
            clipboard.on('error', function (e) {
                console.info('Action:', e.action);
                console.info('Text:', e.text);
                console.info('Trigger:', e.trigger);
            });
            //location.href = '/admin.html'
        })
    })

</script>
<%- include('layout/footer-list',{isNav:false})%>