<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list</title>
    <style type="text/css">
        body {
            margin: 0 20px;
            line-height: 1;
        }

        a {
            text-decoration-line: none;
        }

        .title-wrapper {
            margin-bottom: 10px;
        }

        .title-wrapper input {
            width: 300px;
        }

        .content-wrapper textarea {
            width: 300px;
            height: 150px;
        }
    </style>
</head>

<body>
    <h1 style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">list</h1>
    <div>
        <form action="/api/account/list" method="post">
            <div class="title-wrapper">
                id:<input id="id" name="id">
            </div>
            <div class="title-wrapper">
                account:<input id="account" name="account">
            </div>
            <div class="title-wrapper">
                mark:<input id="mark" name="mark">
            </div>
            <div class="content-wrapper">
                slug:<input id="slug" name="slug"></textarea>
            </div>
            <div class="content-wrapper">
                typeId:<input id="typeId" name="typeId"></textarea>
            </div>
            <div>
                <input type="submit" values="view" id="btn-create">
            </div>
        </form>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script>
        //ajax请求接口
    </script>
</body>

</html>