<%- include('layout/header', { title: '列表', isNav: true })%>
    <h1 style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">list</h1>
    <div>
        <form action="/api/account/list" method="post">
            <div class="title-wrapper">
                id:<input id="id" name="id">
            </div>
            <div class="title-wrapper">
                account:<input id="account" name="account">
            </div>
            <div class="title-wrapper">
                mark:<input id="mark" name="mark">
            </div>
            <div class="content-wrapper">
                typeId:<input id="typeId" name="typeId"></textarea>
            </div>
            <div>
                <input type="submit" values="view" id="btn-create">
            </div>
        </form>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script>
        //ajax请求接口
    </script>
<%- include('layout/footer')%>