<%- include('layout/header', { title: '列表', isNav: false })%>
<div style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">
    <table style="margin-left: 10px;">
        <tr>
            <td><a href="/new" target="_blank" style="color: #000;">新建</a></td>
            <td><a href="/alter" target="_blank" style="color: #000;">修改</a></td> 
        </tr>
    </table>
</div>
<div style="border-bottom: 1px solid #ccc; padding-bottom: 10px; ">
    <table>
        <tr>
            <td>id</td>
            <td>:</td>
            <td><input id="id" name="id" placeholder="可为空"></td>
        </tr>
        <tr>
            <td>account</td>
            <td>:</td>
            <td><input id="account" name="account" placeholder="可为空"></td>
        </tr>
        <tr>
            <td>mark</td>
            <td>:</td>
            <td><input id="mark" name="mark" placeholder="可为空"></td>
        </tr>
        <tr>
            <td>typeId</td>
            <td>:</td>
            <td><input id="typeId" name="typeId" placeholder="可为空"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        <tr>
            <td></td>
            <td></td>
            <td><button id="btn-select">查询</button></td>
        </tr>

    </table>
</div>
<div style="overflow: auto; width:85%;margin-left: 5%;margin-top: 10px;" id="showList">
</div>
<div style="position: relative; bottom: 0;height: 10px;"></div>
<script>
    // 发送 post 请求
    function post(url, data = {}) {
        return $.ajax({
            type: 'post',
            url: url,
            data: JSON.stringify(data),
            contentType: "application/json",
        })
    }
    //生成表格
    function createrList(data) {
        let str = "<table id='showListTB' style='border: 1px solid black;'>";
        str += "<tr><th>id</th><th>account</th><th>password</th><th>mark</th><th>typeId</th><th>修改</th></tr>";
        for (let i = 0; i < data.length; i++) {
            str += "<tr>";
            for (let key in data[i]) {
                str += "<td class='showListTD' data-clipboard-text='" + data[i][key] + "'>" + JSON.stringify(data[i][
                    key
                ]) + "</td>";
            }
            str += "<td class='showListDelTD'><button class='button-delete' value='" + data[i]['id'] + "'>删除</button></td>";
            str += "</tr>"
        }
        str += "</table>";
        return str;
    }

    //查询数据
    $btnSelect = $('#btn-select')
    // 提交数据
    $btnSelect.click(() => {
        $id = $('#id').val()
        $account = $('#account').val()
        $mark = $('#mark').val()
        $typeId = $('#typeId').val()

        const url = '/api/account/list'
        const data = {
            "id": $id,
            "account": $account,
            "mark": $mark,
            "typeId": $typeId
        }

        post(url, data).then(res => {
            if (res.errno !== 0) {
                $("#showList").html("");
                alert(res.message)
                return
            }
            $("#showList").html(createrList(res.data));
            onDel();
            //复制表格内容
            let btns = document.querySelectorAll('.showListTD');
            let clipboard = new ClipboardJS(btns);
            clipboard.on('success', function (e) {
                console.info('Action:', e.action);
                console.info('Text:', e.text);
                console.info('Trigger:', e.trigger);
            });
            clipboard.on('error', function (e) {
                console.info('Action:', e.action);
                console.info('Text:', e.text);
                console.info('Trigger:', e.trigger);
            });
            //location.href = '/admin.html'
        })
    })

    //删除数据
    function onDel() {
        $btnSLTB = $('#showListTB')
        $btnSLTB.click((e) => {
            console.info(e.target.className)
            if(e.target.className!=="button-delete"){
                return;
            }
            $id = e.target.value;
            console.info($id)
            if (!confirm("确定删除改数据？")) {
                return;
            }
            const url = '/api/account/delete'
            const data = {
                "id": $id,
            }
            post(url, data).then(res => {
                if (res.errno !== 0) {
                    alert('操作错误')
                    return
                }
                alert('删除成功')
            })
        })
    }
</script>
<%- include('layout/footer',{isNav:false})%>