<%- include('layout/header', { title: '列表', isNav: true })%>
    <h1 style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">list</h1>
    <div>
        <form action="/api/account/list" method="post">
            <table>
                <tr><td>account</td><td>:</td><td><input id="account" name="id" placeholder="可为空"></td></tr>  
                <tr><td>password</td><td>:</td><td><input id="password" name="account" placeholder="可为空"></td></tr>
                <tr><td>mark</td><td>:</td><td><input id="mark" name="mark" placeholder="可为空"></td></tr>
                <tr><td>typeId</td><td>:</td><td><input id="typeId" name="typeId" placeholder="可为空"></td></tr> 
                <tr><td></td><td></td><td><input type="submit" values="view" id="btn-create"></td></tr>
            </table>
        </form>
    </div>

    <script>
        //ajax请求接口
    </script>
<%- include('layout/footer',{isNav:true})%>