<%- include('layout/header',{isNav:false})%>
<div class="main">
<h1>登录</h1>
<% if (locals.isLogin) { %>
    <p><%= locals.userName%> 您已成功登录，请直接访问<a href="/">首页</a></p>
    <% } else { %>
        <form>
            <table>
                <tr><td>用户名</td> <td>:</td> <td><input type="text" id="input-username" placeholder="请输入用户名"></td></tr>
                <tr><td>密码</td> <td>:</td> <td><input type="password"  id="input-password" placeholder="请输入密码"></td></tr>
            </table>
            <button type="submit" id="btn-submit">登录</button>
    </form>
</div>
    <script>
        $(function() {
            var $inputUserName = $('#input-username')
            var $inputPassword = $('#input-password')
            $('#btn-submit').click(function(e) {
                // 阻止默认的提交表单行为
                e.preventDefault()
                const userName = $inputUserName.val()
                const password = $inputPassword.val()

                // 提交数据
                ajax.post('/api/user/login', {
                    userName,
                    password
                }, function(err, data) {
                    if (err) {
                        alert(err)
                        return
                    }
                    // 跳转到指定 url 或首页
                    var redirectUrl = $.query.get('url') || '/'
                    location.href = redirectUrl
                })
            })
        })
    </script>
<% } %>

<%- include('layout/footer')%>