<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=locals.title%></title>
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <script src="/js/JQuery.js"></script>
    <script src="/js/my-ajax.js"></script>
    <script src="/js/clipboard.js"></script>
    <script src="/js/query-object.js"></script>
</head>

<body>
<div class="main">
<h1>登录</h1>
<% if (locals.isLogin) { %>
    <p><%= locals.userName%> 您已成功登录，请直接访问<a href="/">首页</a></p>
    <% } else { %>
        <form>
            <table>
                <tr><td>用户名</td> <td>:</td> <td><input type="text" id="input-username" autocomplete="off" placeholder="请输入用户名"></td></tr>
                <tr><td>密码</td> <td>:</td> <td><input type="password"  id="input-password" autocomplete="off" placeholder="请输入密码"></td></tr>
            </table>
            <button type="submit" id="btn-submit">登录</button>
    </form>
</div>
    <script>
        $(function() {
            var $inputUserName = $('#input-username')
            var $inputPassword = $('#input-password')
            $('#btn-submit').click(function(e) {
                // 阻止默认的提交表单行为
                e.preventDefault()
                const userName = $inputUserName.val()
                const password = $inputPassword.val()

                // 提交数据
                ajax.post('/api/user/login', {
                    userName,
                    password
                }, function(err, data) {
                    if (err) {
                        alert(err)
                        return
                    }
                    // 跳转到指定 url 或首页
                    var redirectUrl = $.query.get('url') || '/list'
                    location.href = redirectUrl
                })
            })
        })
    </script>
<% } %>

</body>
</html>