<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mesboard</title>
    <script src="/js/JQuery.js"></script>
    <link href="/css/mesboard.css" rel="stylesheet">
</head>

<body>
    <h1 class="title">留言板</h1>
    <div>
        <table class="inputMes">
            <tr><td><P name="sender">content:</P></td></tr>
            <tr><td><textarea id="content" placeholder="输入要发送内容"></textarea></td></tr>  
            <tr><td><button id="btn-send" >发送</button></td></tr>
        </table>
    </div>

    <div class="showMes" id="showMes">

    </div>

    <script>
    //生成昵称
    const charStr="abcdefghjklmnopqrstuvwxyzABCDEFGHJKLMNOPQRSTUVWXYZ0123456789"
    let rxStr="";
    for(let i=7;i>0;i--){
        let index=Math.floor(Math.random()*charStr.length);
        rxStr+=charStr[index];
    }
    let sender=document.getElementsByName("sender");
    sender[0].innerText=rxStr+":";

    //提交信息  
    /// 发送 post 请求
    function post(url, data = {}) {
        return $.ajax({
            type: 'post',
            url: url,
            data: JSON.stringify(data),
            contentType: "application/json",
        })
    }
    const btnsend=document.getElementById("btn-send");
    const contentmd=document.getElementById("content");
    btnsend.addEventListener('click',()=>{
        let content=contentmd.value;
        let url = '/api/mesboard/new';
        const data = {
            "name": rxStr,
            "content": content
        }
        post(url, data).then(res => {
            if (res.errno !== 0) {
                alert(res.content)
                return
            }
            contentmd.value='';
        })
    })
    
    //获取信息列表
    /// 生成表格
    function createTable(data){
        let str = "<table id='showListTB' style='border: 1px solid black;'>";
        for (let i = 0; i < data.length; i++) {
            str += "<tr>";
            for (let key in data[i]) {
                str += "<td class='showListTD'>" + JSON.stringify(data[i][key]) + "</td>";
            }
            str += "</tr>"
        }
        str += "</table>";
        return str;
    } 
    function getList(){
        let url='/api/mesboard/list'
        post(url).then(res=>{
            if(res.errno!=0){
                alert(errno.message);
                return;
            }
            let str=createTable(res.data)
            document.getElementById("showMes").innerHTML=str
        })
    }
    //定时刷新
    setInterval(getList,1000)
    </script>
</body>
</html>