<%- include('layout/header-list', { title: '留言板', isNav: false })%>
    <h1 class="title">留言板</h1>
    <div>
        <table class="input">
            <tr><td>message</td><td>:</td><td><input id="account" placeholder="输入要发送内容"></td></tr>  
            <tr><td></td><td></td><td><button id="btn-send" >发送</button></td></tr>
        </table>
    </div>


    <script>
    //生成昵称
    
    //获取信息列表
    
    //提交信息   
    </script>
<%- include('layout/footer-list',{isNav:false})%>