<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新建数据</title>
    <style type="text/css">
        body {
            margin: 0 20px;
            line-height: 1;
        }

        a {
            text-decoration-line: none;
        }

        .title-wrapper {
            margin-bottom: 10px;
        }

        .title-wrapper input {
            width: 300px;
        }

        .content-wrapper textarea {
            width: 300px;
            height: 150px;
        }
    </style>
</head>

<body>
    <h1 style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">新建数据</h1>
    <div>
        <div class="title-wrapper">
            account:<input id="account">
        </div>
        <div class="title-wrapper">
            password:<input id="password">
        </div>
        <div class="title-wrapper">
            mark:<input id="mark">
        </div>
        <div class="content-wrapper">
            typeId:<input id="typeId"></textarea>
        </div>
        <div>
            <button id="btn-create">创建</button>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script>
        // 发送 post 请求
        function post(url, data = {}) {
            return $.ajax({
                type: 'post',
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json",
            })
        }

        // 获取 dom 元素
        $btnCreate = $('#btn-create')

        // 提交数据
        $btnCreate.click(() => {
            $password = $('#password').val()
            $account = $('#account').val()
            $mark = $('#mark').val()
            $typeId = $('#typeId').val()

            if ($account === '' || $password === '' || $mark === '') {
                alert('帐号，密码,备注不能为空')
                return
            }

            const url = '/api/account/new'
            const data = {
                "account": $account,
                "password": $password,
                "mark": $mark,
                "typeId": $typeId
            }

            post(url, data).then(res => {
                if (res.errno !== 0) {
                    alert('操作错误')
                    return
                }
                alert('创建成功')
                //location.href = '/admin.html'
            })
        })
    </script>
</body>

</html>