<%- include('layout/header', { title: '新建', isNav: true })%>
    <h1 style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">新建数据</h1>
    <div>
        <div class="title-wrapper">
            account:<input id="account" placeholder="请输入帐号">
        </div>
        <div class="title-wrapper">
            password:<input id="password" placeholder="请输入密码">
        </div>
        <div class="title-wrapper">
            mark:<input id="mark" placeholder="可为空">
        </div>
        <div class="content-wrapper">
            typeId:<input id="typeId" placeholder="可为空"></textarea>
        </div>
        <div>
            <button id="btn-create">创建</button>
        </div>
    </div>

    <script>
        // 发送 post 请求
        function post(url, data = {}) {
            return $.ajax({
                type: 'post',
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json",
            })
        }

        // 获取 dom 元素
        $btnCreate = $('#btn-create')

        // 提交数据
        $btnCreate.click(() => {
            $password = $('#password').val()
            $account = $('#account').val()
            $mark = $('#mark').val()
            $typeId = $('#typeId').val()

            if ($account === '' || $password === '' || $mark === '') {
                alert('帐号，密码,备注不能为空')
                return
            }

            const url = '/api/account/new'
            const data = {
                "account": $account,
                "password": $password,
                "mark": $mark,
                "typeId": $typeId
            }

            post(url, data).then(res => {
                if (res.errno !== 0) {
                    alert('操作错误')
                    return
                }
                alert('创建成功')
                //location.href = '/admin.html'
            })
        })
    </script>
<%- include('layout/footer')%>