/* 全局 */
body {
    padding: 0;
    margin: 0;
    position: relative;
}

html,
body {
    height: 100%;
}

/* 导航栏 */
.header-ul {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    text-align: center;
    overflow: hidden;
}

li {
    display: inline-block;
    width: 60px;
    height: 45px;
}

a {
    float: left;
    display: block;
    text-align: center;
    padding: 5px 15px 0 15px;
    width: 30px;
    height: 20px;
    text-decoration: none;
}
.icon{
    background-image: url("/img/icon1.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.icontxt{
    float: left;
    width: 20px;
    height: 15px;
}
li p{
    font-size: 15px;
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li:hover:not(.active) {
    background-color:rgba(11,23,70,0.1);
}

.active {
    background-color: #4CAF50;
}

li:last-child {
    border-right: none;
}